<!DOCTYPE html>
<html ng-app="testTask">
<head>
    <meta charset="UTF-8">
    <title>ITRex</title>
    <script src="node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="public/css/domino.css">
    <link rel="stylesheet" href="public/css/graduates.css">
    <link rel="stylesheet" href="public/fonts/css/font-awesome.min.css">
</head>
<body ng-controller="taskController">
<div class="tasks" ng-switch="flag">
    <h2>Select task</h2>
    <button ng-click="flag = 1">Graduations</button>
    <button ng-click="flag = 2">Domino</button>
    <div class="wrapper graduations" ng-switch-when="1">
        <header id="tabHeader">
            <div class="h-head" ng-class="{active: $index == activeTab}" ng-click="switchTab($index)"
                 ng-repeat="key in data">
                {{key.grad}}
            </div>
            <div class="addHead" ng-click="addTab()">+</div>
            <div class="average">{{results()}}<br>Average GPA</div>
        </header>
        <section>
            <div class="s-body active">
                <p class="grade">
                    <label>Grade: <input type="text" maxlength="3" ng-value="activeData['grad']"
                                         ng-model="activeData['grad']"></label>
                </p>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>GPA</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="child in activeData.children">
                        <td>{{child.name}}</td>
                        <td>{{child['GPA']}}</td>
                        <td ng-click="deleteStudent($index)"><i class="fa fa-times" aria-hidden="true"></i></td>
                    </tr>
                    </tbody>
                </table>
                <form ng-submit="addStudent(addStudentForm.$valid)" name="addStudentForm">
                    <fieldset>
                        <legend>Add student</legend>
                        <p><label>
                            Name:
                            <input type="text" ng-model="student.name" required>
                        </label>
                            <label>
                                GPA:
                                <input type="number" ng-model="student.GPA" max="5" min="2" step="0.01" required>
                            </label></p>
                        <p><input type="submit"></p>
                    </fieldset>
                </form>
            </div>
        </section>
    </div>
    <div class="wrapper domino" ng-switch-when="2">
        <div class="controls">
            <div ng-click="turnIt(0)">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
            <div ng-click="newDomino()">New</div>
            <div ng-click="turnIt(1)">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
        </div>
        <section>
            <div class="container">
                <div class="c-domino"
                     ng-style="getStyle()">
                    <div class="d-head">
                        <div class="part" ng-class="{one: dTop.one, two: dTop.two,
                        three: dTop.three, four: dTop.four, five: dTop.five, six: dTop.six}">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="d-bottom">
                        <div class="part" ng-class="{one: dBott.one, two: dBott.two,
                        three: dBott.three, four: dBott.four, five: dBott.five, six: dBott.six}">
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="options">
                <p><label>
                    Speed of rotation: {{values.sec}}<br>
                    <input type="range" ng-value="values.sec" ng-model="values.sec" min="0.1" max="5" step="0.1">
                </label></p>
                <p><label>
                    Size of domino: {{values.size}}<br>
                    <input type="range" ng-value="values.size" ng-model="values.size" min="0.1" max="1.2" step="0.1">
                </label></p>
            </div>
            <div class="faces">
                <div class="part" ng-repeat="i in variants" ng-class="variants[$index]" ng-click="choosePart($index)">
                    <div class="circle" ng-repeat="i in variants"></div>
                </div>
            </div>
        </section>
    </div>
</div>
<script src="public/js/controller.js"></script>
</body>
</html>